body{
	margin: 0;
	padding: 0;
	background-color: #ccc;
	font: 100% arial, sans-serif;
}
section{
	background-color: white;
	padding: 15px;
}
section h2{
	background: #eee;
	padding: .75rem;
	margin: 0;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
}
.jumbotron{
	background-image: url("../imgs/bg-3.jpg");
	min-height: 80vh;
	background-size: cover;
	background-position: right center;
	color: white;
	text-align: center;
}
.jumbotron h1{
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 15px;
	text-shadow: 2px 2px 1px rgba(0,0,0,.8);
	margin-bottom: 2rem;
}
.jumbotron	p{
	border-bottom: 2px solid white;
	padding: 18px;
	text-transform: uppercase;
	border-bottom: 2px solid white;
	font-size: 1rem;
	display: inline-block;
	background: rgba(0,0,0,.6);
}
nav{
	position: absolute;
	z-index: 1;
	right:0;
	top:0;
}
.nav > li{
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 20px;
	border: 1px solid white;
	background: rgba(0,0,0,.5);
	padding: 7px
}
.nav > li  a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .75rem;
}
.nav > li:hover{
	background: rgba(0,0,0,.2);
}
.nav> li> a:hover{
	color: orange;
}