body{
	margin: 0;
	padding: 0;
	background-color: #ccc;
	font: 100% arial, sans-serif;
}
section{
	background-color: white;
	padding: 15px;
}
section h2{
	background: #eee;
	padding: .75rem;
	margin: 0;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
}
.jumbotron{
	background-image: url("../imgs/bg-3.jpg");
	min-height: 80vh;
	background-size: cover;
	background-position: right center;
	color: white;
	text-align: center;
}
.jumbotron h1{
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 15px;
	text-shadow: 2px 2px 1px rgba(0,0,0,.8);
	margin-bottom: 2rem;
}
.jumbotron	p{
	border-bottom: 2px solid white;
	padding: 18px;
	text-transform: uppercase;
	border-bottom: 2px solid white;
	font-size: 1rem;
	display: inline-block;
	background: rgba(0,0,0,.6);
}
nav{
	position: absolute;
	z-index: 1;
	right:0;
	top:0;
}
.nav-left{
	position: absolute;
	z-index: 1;
	left:0;
	top:0;
	cursor: pointer;
	margin-left: 15px;
	margin-top: 15px;
}
.nav-left .menu{
	border: 1px solid white;
	font-size: 1rem;
	background: rgba(0,0,0,.5);
	padding: 15px;
	color: white;

}
.menu-item{
	z-index: 1;
	position: absolute;
	margin: 0;
	width: 150px;
	border: 1px solid white;
	margin-left: 60px;
	padding: 0;
	display: none;
}
.menu-item div{
	padding: 0;
	margin: 0;
	height: 50px;
	background: rgba(0,0,0,.5);
	cursor: pointer;

}
.menu-item div a{
	text-decoration: none;
	color: white;
	line-height: 50px;
	padding-left: 25px;
	font-size: 1rem;
}
.menu-item div:hover{
	background: rgba(0,0,0,.2);
}
.menu-item div a:hover{
	color: orange;
}
.nav-left .menu:hover{
	background: rgba(0,0,0,.2);
	color: orange;
	
}
.nav > li{
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 20px;
	border: 1px solid white;
	background: rgba(0,0,0,.5);
	padding: 7px;
}
.nav > li  a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .75rem;
}
.nav > li:hover{
	background: rgba(0,0,0,.2);
}
.nav> li> a:hover{
	color: orange;
}
.cards-container [class^=col]{
	padding-left: .5rem;
	padding-right: .5rem;
}
.cards-container .card{
	border-radius: 0;
	border: none;
}
.card-body{
	background: rgba(70,70,70);
}
.card .card-img-top{
	border-radius: 0;
}
.card-body > .card-text{
	color: white;
	font-weight: normal;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
}
.rodape{
	background-color: rgba(70,70,70);
	height: 90px;
	padding: 0;
	margin: 0;
}
.rodape p{
	color: white;
	font-size: 18px;
	text-shadow: 2px 2px 2px black;
}